
/* Colors */
$main-color: #FFE600;

$gray-dark: #333333;
$gray: #666666;
$gray-light: #999999;
$gray-lighter: #EEEEEE;
$button-primary: #3483FA;

/* Fonts */

$font-base: 16px; // 1rem; 

$font-50: 0.875rem;
$font-100: 1rem;
