
/* Colors */
$main-color: #FFE600;

$gray-dark: #333333;
$gray: #666666;
$gray-light: #999999;
$gray-lighter: #EEEEEE;
$primary: #3483FA;

$bg-color: #FFFFFF;
/* Fonts */

$font-base: 16px; // 1rem; 
$font-25: 0.75rem; // 12px
$font-50: 0.88rem; // 14px
$font-100: 1rem; // 16px
$font-100: 1.13rem; // 18px
$font-200: 1.5rem; // 24px
$font-300: 1.75rem; //36px
$font-400: 2.88rem; 

// Spacing
$space-normal: 1rem;
$space-double: 2rem;

// Image size
$image-size-large: 680px;
$image-size-normal: 180px;
$image-border-radius: 4px;

// Grid
$grid: 12;
$grid-1: calc(100%/$grid);
$grid-2: calc(100%/$grid*2);
$grid-3: calc(100%/$grid*3);
$grid-4: calc(100%/$grid*4);
$grid-5: calc(100%/$grid*5);
$grid-6: calc(100%/$grid*6);
$grid-7: calc(100%/$grid*7);
$grid-8: calc(100%/$grid*8);
$grid-9: calc(100%/$grid*9);
$grid-10: calc(100%/$grid*10);
$grid-11: calc(100%/$grid*11);
$grid-12: 100%;



$var-slug: grid !default;

@for $i from 1 through 12 {
  $grid-type:calc(#{$grid}-#{$i});
  $width: calc(calc(100%/#{$grid})*#{$i}); 
  :global(.grid-#{$i}) {
    width: $width;
  }
}